.body {
    background-color: black;
}

.loader{
    left: 50px;
    top: 50px;
    width: 20px;
    height: 20px;
    background-color: #ff7a00;
    border-radius: 50%;
    position: relative;
}

.loader::before,
.loader::after {
    content: '';
    top: 200px;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: rgb(171, 25, 25);
    transform: rotate(40deg) translate(50px);
    animation: spin 1s ease infinite;
}

.loader::after{
    animation-delay: 650ms;
}

@keyframes spin{
    to {
        transform: rotate(360deg);
    }
}
